:root {
	--primario: #013E6A;
	--secundario: #000;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*BODY INDEX*/
.bodyIndex{
	justify-content: center;
	align-items: center;
	display: flex;
	min-height: 100vh;

	font-family: 'Quicksand', sans-serif;
	background:#F0F4F3;
	background: linear-gradient(150deg,#350B38,#e1bbed,#350B38);
}

/*CONTENEDOR INDEX*/
.contenedorIndex{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	max-width: 1400px;
	min-height: 60vh;
	overflow: hidden;

	border: solid black 3px;
	border-radius: 10px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
}

/*COLUMNA IZQUIERDA y DERECHA INDEX*/
.columnaIzquierdaIndex{
	padding: 40px;
}
.columnaDerechaIndex{
	background-image:url(../img/logoEpicodesSinFondo.png);
	background-position: center center;
	background-size: 500px; 
	background-repeat: no-repeat;
}

/*TITULO INDEX*/
.tituloIndex{
	text-align: center;
	margin-bottom: 115px;
}

/*BOTONES INDEX*/
.botonesIndex{
	margin-left: 190px;
}
.botonIniciarSesion button{
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 15px;
	margin-top: 20px;
	padding: 0 60px;
	height: 55px;

	font-family: 'Quicksand', sans-serif;
	background-color: black;
	outline: none;
	cursor: pointer;
	transition: 0.4s ease all;
	border: 2px solid var(--secundario);
	border-radius: 5px;
	color: var(--primario);
}
.botonIniciarSesion button a{
	text-decoration: none;
	color: white;
}
.botonIniciarSesion button:hover{
	background-color: #5A315F;
	color: violet;
}
.botonIniciarSesion button a:hover{
	color:white
}

.botonRegistrarse button{
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 15px;
	margin-top: 20px;
	padding: 0 64px;
	height: 55px;

	font-family: 'Quicksand', sans-serif;
	background-color: black;
	outline: none;
	cursor: pointer;
	transition: 0.4s ease all;
	border: 2px solid var(--secundario);
	border-radius: 5px;
	color: var(white);
}
.botonRegistrarse button a{
	text-decoration: none;
	color: white;
}
.botonRegistrarse button:hover{
	background-color: #5A315F;
	color: violet;
}
.botonRegistrarse button a:hover{
	color:white
}
