:root {
	--primario: #013E6A;
	--secundario: #000;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #F0F4F3;
	font-family: 'Quicksand', sans-serif;
	background: linear-gradient(150deg,#350B38,#e1bbed,#350B38);

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*CONTENEDOR*/
.contenedor {
	width: 90%;
	max-width: 1400px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 60vh;
	border: solid black 3px;
	border-radius: 10px;

	display: grid;
	grid-template-columns: 1fr 1fr;
}
.columna-izquierda {
	padding: 40px;
}
.columna-derecha {
	background-image:url(../img/logoEpicodes.png);
	background-position: center center;
	background-size: 500px; 
	background-repeat: no-repeat;
}

.header {
	margin-bottom: 40px;
	text-align: center;
}
.header h1 {
	color: var(--secundario);
	font-size: xx-large;
}
.header p{
	color: var(--secundario);
}
label{
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 15px;
}
.contenedor-input{
	position: relative;
}
.registro{
	display: none;
}
.registro.activo{
	display: block;
}


input{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0px 0px 0px 10px;
	margin-bottom: 20px;
	background: #f4f8f7;
	color: var(--secundario);
	font-family: 'Quicksand', sans-serif;
	border: 2px solid;
}
input:focus {
	outline: none;
	border: 2px solid var(--secundario);
}
.contenedor-boton {
	display: flex;
	justify-content: center;
}
button{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: none;
	height: 50px;
	color: var(--primario);
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 2px solid var(--secundario);
	cursor: pointer;
	transition: 0.5s ease all;
	outline: none;
}
button:hover {
	background: var(--secundario);
	color: #fff;
}

/*ICONO CONTRASEÑA*/
.iconoContraseña{
	position: absolute;
	right: 15px;
	top: 25px;
	transform: translateY(-50%);
	cursor: pointer;
	transition: 0.4s ease all;
}
.iconoContraseña:hover{
	color: gray;
}
 